*.apk
*.aar
*.ap_
*.aab
*.dex
*.class
*.hprof
*.log
*.iml
*.jks
*.keystore

build/
bin/
gen/
out/
.gradle/
.idea/
.navigation/
.externalNativeBuild
.cxx/
captures/
proguard/

local.properties
.DS_Store
